*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    background-color: #f4f4fb;
}
h2{
    font: 13px;
    padding: 10px 0;
}

h2 > span {
    font-size: 9px;
}

/*-------------------------------------------- */
main{
    min-height: 100%;
    padding: 6rem 0rem 0rem 14rem;
    color: black;
}
.dashboard-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.1fr;
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas: 
    "total1 total2 total3"
    "detail detail detail"
    "detail detail detail"
    ;
}

.card{
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
}

.total1{
    grid-area: total1;
    background-color: #2d972e;
    color: #fff;
}

.total2{
    grid-area: total2;
    background-color: #ffa705;
    color: #fff;
}

.total3{
    grid-area: total3;
    background-color: #9132bd;
    color: #fff;
}

.detail{
    grid-area: detail;
    overflow: auto;
}

.detail-header{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.detail-header button{
    height: 25px;
    width: 115px;
    border: 1px solid #2d2b98;
    background-color: #2d2b98;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.detail-header button:hover{
    background-color: transparent;
    color: #2d2b98;
}

.detail table{
    width: 100%;
    border-collapse: collapse;
}

.detail table tr:nth-child(odd){
    background-color: #f8f8fb;
}

.detail table th {
    background-color: #f4f4fb;
}

.detail table th, .detail table td{
    padding: 0.2rem 0.01rem;
    text-align: left;
    min-width: 120px;
    font-size: 10px;
}

.detail table tr:hover{
    background-color: #f2f2f2;
    border-bottom: 2px solid #2d2d98;
}

.detail table tr td:nth-child(2), .detail table tr td:nth-child(3) {
    min-width: 150px;
}

.status{
    padding: 0.3rem 1rem;
    border-radius: 30px;
    font-weight: 600;
    letter-spacing: 1;
    font-size: 0.7rem;
}

.off{
    background-color: #fff2d7;
    color: #ffa705;
}

.ativo{
    background-color: #d7effc;
    color: #15a1fe;
}

.bloqueado{
    background-color: #fafafa;
    color: orangered;
}


