*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    background-color: #f4f4fb;
}
h2{
    font: 13px;
    padding: 10px 0;
}

h2 > span {
    font-size: 9px;
}

.status{
    padding: 0.3rem 1rem;
    border-radius: 30px;
    font-weight: 600;
    letter-spacing: 1;
    font-size: 0.7rem;
}

.off{
    background-color: #fff2d7;
    color: #ffa705;
}

.ativo{
    background-color: #d7effc;
    color: #15a1fe;
}

.bloqueado{
    background-color: #fafafa;
    color: orangered;
}


