*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    background-color: #f4f4fb;
}
h2{
    font: 13px;
    padding: 10px 0;
}

h2 > span {
    font-size: 9px;
}
form {
    max-width: 700px;
    margin: 0 auto;
}
label {
    display: block;
    margin-top: 10px;
}

